<head>
    <link rel="stylesheet" href="index.css"></link> 
</head>

<body>

    <select id="left">
        <option value="Reuters" selected>Reuters</option>
        <option value="Fox News">Fox News</option>
        <option value="NY Times">NY Times</option>
        <option value="The Guardian">The Guardian</option>
        <option value="Breitbart">Breitbart</option>

      </select>
    <select id="right">
        <option value="Reuters">Reuters</option>
        <option value="Fox News" selected>Fox News</option>
        <option value="Breitbart">Breitbart</option>
        <option value="The Guardian">The Guardian</option>
        <option value="Breitbart">Breitbart</option>
      </select>

    <button onclick="window.showData()"> show </button>
   

    <div id="g-chart">
    </div>
    <script src="d3.v2.min.js"></script>
    <script src="index.js"></script>
