<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Event Dashboard: Coronavirus</title>
        <link
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu"
          crossorigin="anonymous"
        />
        <style> 
          img { 
            max-width: 50%;
          } 
        </style>
        <div class="container">
          <div class="row">
            <div class="col-md-12 jumbotron text-center">
              <h1>Event Dashboard: Coronavirus</h1>
              <p>An NLP exploration of Coronavirus news data 1/6/2020-4/12/2020</p>
            </div>
          </div>
      </head>
      
      <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Explore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="home.html">Home</a>
                <a class="nav-item nav-link" href="clouds.html">The Weekly Story</a>
                <a class="nav-item nav-link" href="sentiment.html">The Weekly Mood</a>
                <a class="nav-item nav-link" href="shares.html">Talk of the Week</a>
                <a class="nav-item nav-link" href="bubbles.html">Who Said It?</a>
              </div>
            </div>
          </nav><head>
    <link rel="stylesheet" href="/static/css/index.css"></link>
</head>

<style>
  .App {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
    margin-top: 20px;
    margin-left: 80px;
  }
  img {
    max-width: 90%;
  }
</style>

<body>
    <select id="left">
        </select>
    <select id="right">
      </select>
    <button onclick="window.showData()"> show </button>

    <div id="g-chart">
    </div>
    <script src="/static/js/d3.v2.min.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/bubbles.js"></script>
    <div> Credit: <a href="https://archive.nytimes.com/www.nytimes.com/interactive/2012/09/06/us/politics/convention-word-counts.html#bailout">The New York Times</a>
    </div>
</body>

