<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Pro3 News</title>
</head>

<body class="hold-transition sidebar-mini">
    <!-- <div>
        {% for data in sentiment %}
        {{data}}
        <h3>{{data.newspaper}}</h3>
        <p>{{data.date}}</p>
        <p>{{data.sentiment}}</p>
        <p>{{data.title}}</p>

        {% endfor %}
    </div> -->
    <div id="myDiv"></div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>var data = '{{sentiment}}'
    </script>
    <script src='static\js\sentiment.js'></script>
</body>

</html>