<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Pro3 News</title>
</head>
<body class="hold-transition sidebar-mini">

  <div>
    {% for newspaper in shares %}
      <h3>{{sentiment.newspaper}}</h3>
      <h3>{{sentiment.date}}</h3>
      <h3>{{sentiment.sentiment}}</h3>
      <h3>{{sentiment.title}}</h3>
      <h3>{{sentiment.shares}}</h3>
    {% endfor %}
    
  </div>
  <script>var data = '{{sentiment}}'</script>
  <script src = 'static\js\sentiment.js'></script>
</body>
</html>

