<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Event Dashboard: Coronavirus</title>
        <link
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu"
          crossorigin="anonymous"
        />
        <style> 
          img { 
            max-width: 50%;
          } 
        </style>
        <div class="container">
          <div class="row">
            <div class="col-md-12 jumbotron text-center">
              <h1>Event Dashboard: Coronavirus</h1>
              <p>An NLP exploration of Coronavirus news data 1/6/2020-4/12/2020</p>
            </div>
          </div>
      </head>
      
      <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Explore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="home.html">Home</a>
                <a class="nav-item nav-link" href="stocks2.html">The Weekly Story</a>
                <a class="nav-item nav-link" href="sentiment.html">The Weekly Mood</a>
                <a class="nav-item nav-link" href="shares.html">Talk of the Week</a>
                <a class="nav-item nav-link" href="index2.html">Who Said It?</a>
              </div>
            </div>
          </nav>

  <!-- <h1>Select a Date</h1>
  <form action="/shares.html" method = 'POST'>
    <label for="dtLabel">Date:</label>
    <input type="date" id="weekday" name="weekday">
    <input type="submit" id="submitted" value='submit'>
  </form>  -->
  <form>
    <div class="form-group">
      <ul class="list-group" id="filters">
        <li class="filter list-group-item">
          <label for="date">Enter a Date</label>
          <input class="form-control" id="datetime" type="date" placeholder="2020-02-11">
        </li>
      </ul>
      <button id="filter-btn" type="button" class="btn btn-default">Submit</button>
    </div>
  </form>

  <div class='container' style='width: 90%; background-color:beige'>
    <canvas id="newsChart" width="400" height="275" style="background-color:beige"></canvas>
  </div>
  

  <!--script var data = '{{popNews}}'></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script script type="text/javascript" src = "../static/js/shares.js" charset="utf-8"></script>
</body>
</html>